My Games/Oblivion Remastered/Saved/Config/
My Games/Oblivion Remastered/Saved/Crashes/
My Games/Oblivion Remastered/Saved/Logs/
My Games/Oblivion Remastered/Saved/webcache_4430
My Games/Oblivion Remastered/Saved/D3DDriverByteCodeBlob_V4318_D9860_S375066846_R161.ushaderprecache
My Games/Oblivion Remastered/Saved/OblivionRemastered_PCD3D_SM6.upipelinecache
